# EditorConfig for KARINEX (https://editorconfig.org). Matches .swiftformat and .swiftlint.yml:
# 4 spaces in Swift, 140 columns, LF line endings, final newline.
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.swift]
max_line_length = 140

[*.{yml,yaml}]
indent_size = 2

[*.{json,xcstrings}]
indent_size = 2

[*.{rb,gemspec}]
indent_size = 2

[{Gemfile,Gemfile.lock,Appfile,Fastfile}]
indent_size = 2

[*.py]
max_line_length = 120

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[*.{pbxproj,xcscheme,xcworkspacedata,plist,xcprivacy,entitlements}]
indent_style = tab
